/*   margin-left: 5%;
    max-width: 1000px;
}
.contact-header h1{
    font-size: 50px;
}
.contact-header h3{
    font-size: 20px;
}
.textDiv{
    display: flex;
    flex-direction: column;
}
.textBox{
    width: 450px;
    height: 20px;
    border-radius: 20px;
    box-shadow: gray;
    background-color: #384959;
    color: #BDDDFC;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.contactForm{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.messageBox{
    width: 450px;
    height: 100px;
    border-radius: 20px;
    box-shadow: gray;
    background-color: #384959;
    color: #BDDDFC;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 100px;
}
.submitButton{
    padding: 20px;
    width: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    background-color: #88BDF2;
    font-family: 'Metana';
}

.rowContent{
    display: flex;
    gap: 20px;
}
*/

.contact-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 40px;
}
.img1{
    height: 400px;
    width: 400px;
}
.contact-image{
    border-style: dashed;
}
.contact-description{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}
.contact-forms{
    flex-direction: column;
}
.input{
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    background-color: #BDDDFC;
}
.details{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.form-button{
    font-family: 'Metana';
    padding: 10px;
    border-radius: 5px;
    background-color: #384959;
    font-size: 15px;
}