
.header{
    padding: 10px 20px;
    display: flex;
    
    position:relative;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.mainLogo{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    object-fit: cover;
    z-index: 10;
}

.nav-links{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px
}
.nav-icon {
  /* 6. Icon Sizing */
  width: 80px; 
  height: 80px;
  object-fit: contain;
  transition: transform 0.2s;
  cursor: pointer;

}