.welcome{
    justify-content: center;
    text-align: center;
    margin-top: 15%;
}
.nav-links{
    justify-content: center;
    text-align: center;
    display: flex;
}
.image-logo{
    width: 200px;
    height: 200px;
}
