.title {
    margin-top: 0;
    text-align: center;
    align-items: center;
    font-size: 100px;
}

.projects{
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.image{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
    border-radius: 50%; 
    margin-bottom: 20px;
    margin-top: 20px;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 500px;
    height: 500px;
    padding: 40px;

    background-color:  transparent;
    border-radius: 40px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.row:hover {
    transform: translateY(-10px); 
    background-color: #6A89A7;
}

.row h3 {
    font-size: 24px;       
    margin-bottom: 20px;   
    font-weight: 700;      
    color: #000;        
    width: 100%;   
}
.row p {
    font-size: 16px;
    line-height: 1.8;      
    color: #333;           
    width: 100%;     
    margin: 0;
}